@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
/* todo el documento */
*{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
}
* b{
    font-weight: 400;
}
body{
    background-color: #fff8f8;
    width: 100%;
    height: auto;
    margin: 0px;
}
/*dispositivos*/
/* telefono */
@media only screen and (max-width: 767px){
    .tablet{
        display: none;
    }
    .desktop{
        display: none;
    }
    .tv{
        display: none;
    }
/* menu desplegable */
.menu{
    right: 0px;
    position: fixed;
    width: 15px;
    height: 15px;
    z-index: 100;
    transition: 2s;
    padding-bottom: 7px;
    padding-left: 7px;
}
.menu:hover{
    border-radius: 40px;
    background-color: #1e1e1e;
    color: #fff8f8;
    transition: 2s;
}
.menu #menu_icon{
    margin-top: -5px;
    font-size: 10px;
}
/* pagina web */
.content{
    width: 100%;
    height: auto;
    background-color: #fff8f8;
}
/* seccion1 */
.sec_1{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}
.sec_1 h2{
    width: 100%;
    position: relative;
    font-size: 3em;
    margin: 0px;
    color: #5e5e5e;
    z-index: 10;
}
.sec_1 h2:hover{
    z-index: 30;
}
.sec_1 h3{
    width: 100%;
    position: relative;
    font-size: 7em;
    font-weight: 600;
    margin-bottom: -35px;
    margin-top: -35px;
    color: #f8f1f1;
    z-index: 0;
}
.sec_1 img{
    position: relative;
    margin-top: -272px;
    width: 10em;
    height: auto;
    z-index: 20;
}
/* separador */
.detach{
    margin-bottom: -17%;
    z-index: 10;
    position: relative;
}
.detach_img{
    width: 100%;
    height: auto;
}
/* seccion2 */
.sec_2{
    padding-top: 100px;
    z-index: 0;
    background-color: #1e1e1e ;
    width: 100%;
    clip-path: polygon(0 0%, 100% 8%, 100% 88%, 0% 100%);
}
.sec_2 h2{
    width: 70%;
    color: #fff8f8;
    position: relative;
    font-size: 1.5em;
    margin: 0px;
    z-index: 10;
}
.sec_2 h3{
    text-align: center;
    color: #242323;
    position: relative;
    font-size: 7em;
    font-weight: 600;
    margin-bottom: -40px;
    margin-top: -40px;
    z-index: 0;
}
.sec_2 .img{
    width: 100%;
    text-align: center;
}
.sec_2 .img img{
    width: 40%;
    height: auto;
    position: relative;
    z-index: 20;
}
.sec_2 .container {
    margin-left: 40px;
    margin-top: -260px;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    z-index: 30;
}
.sec_2 .container .container_left{
    position: relative;
    z-index: 10;
    width: 45%;
    margin-right: -40px;
    margin-left: 40px;
}
.sec_2 .container .container_right{
    width: 45%;
    position: relative;
    z-index: 20;
    margin-left: -40px;
}
.sec_2 .container p{
    font-weight: 500;
    font-size: 8px;
    width: 100px;
    border: solid 2px black;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
}
.container .container_left .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 50;
}
.container .container_left .block_2{
    rotate: 15grad;
    position: relative;
    z-index: 40;
    margin-top: -5px;
    margin-left: 50px;
}
.container .container_left .block_3{
    position: relative;
    z-index: 30;
    margin-top: -20px;
    margin-left: -120px;
}
.container .container_left .block_4{
    position: relative;
    z-index: 20;
    margin-top: -20px;
}
.container .container_left .white{
    rotate: -15grad;
    color: white;
    z-index: 10;
    margin-top: -100px;
    margin-left: 150px;
    padding: 25px;
}
.container .container_right .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 30;
    margin-left: -85px;
}
.container .container_right .block_2{
    rotate: 10grad;
    position: relative;
    z-index: 40;
    margin-top: 10px;
    margin-left: -85px;
}
.container .container_right .block_3{
    rotate: -5grad;
    position: relative;
    z-index: 50;
    margin-top: -100px;
    margin-left: 75px;
}
.container .container_right .block_4{
    rotate: 2grad;
    position: relative;
    z-index: 20;
    margin-left: -10px;
    margin-bottom: 150px;
}
.container .container_right .white{
    rotate: 15grad;
    color: white;
    position: relative;
    z-index: 10;
}
/* seccion3 */
.sec_3{
    width: 100%;
    background-color: #ffdcdc;
    padding-top: 300px;
    margin-top: -215px;
    text-align: center;
}
.sec_3 h2{
    text-align: center;
    width: 100%;
    color: #3f3f3f;
    position: relative;
    font-size: 1.9em;
    margin: 0px;
    z-index: 10;
}
.sec_3 .paragraph{
    width: 100%;
}
.sec_3 p{
    font-size: 15px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.sec_3 h3{
    width: 100%;
    text-align: center;
    color: #ffe4e4;
    position: relative;
    font-size: 7em;
    font-weight: 600;
    margin-bottom: -50px;
    margin-top: -100px;
    z-index: 0;
}
.sec_3 img{
    width: 100%;
    margin-top: -100px;
    position: relative;
    z-index: 0;
}
/* seccion4 */
.sec_4{
    width: 100%;
    background-color: #ffffff;
    margin-top: -50px;
    padding-top: 80px;
}
.sec_4 .container_1{
    width: 100%;
    text-align: center;
}
.sec_4 .container_1 .t2{
    margin-top: 30px;
}
.sec_4 .container_1 h2{
    position: relative;
    font-size: 1.5em;
    margin: 10px;
    color: #5e5e5e;
}
.sec_4 .container_2{
    text-align: center;
    width: 100%;
    display: flex;
}
.sec_4 .container_2 h2{
    font-weight: 900;
    position: relative;
    font-size: 2.8em;
    padding-top: 40px;
    color: #ffdcdc;
}
.sec_4 .left{
    width: 45%;
    text-align: end;
    margin-left: 30px;
}
.sec_4 .right{
    width: 45%;
}
.sec_4 .right img{
    padding-top: 40px;
    width: 70%;
}
/* redes */
.redes{
    width: 100%;
    }
    .redes .iconos{
    text-align: center;
    width: 100%;
    }
    .redes .iconos #red{
    color: black;
    padding: 10px;
    width: 8%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    transition: 2s;
    }
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width:990px){
    .movil{
        display: none;
    }
    .desktop{
        display: none;
    }
    .tv{
        display: none;
    }
/* menu desplegable */
.menu{
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 4px;
    right: 10px;
    position: fixed;
    width: 25px;
    height: 25px;
    z-index: 100;
    transition: 2s;
}
.menu:hover{
    border-radius: 40px;
    background-color: #1e1e1e;
    color: #fff8f8;
    transition: 2s;
}
.menu #menu_icon{
    font-size: 20px;
}
/* pagina web */
.content{
    width: 100%;
    height: auto;
    background-color: #fff8f8;
}
/* seccion1 */
.sec_1{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}
.sec_1 h2{
    width: 100%;
    position: relative;
    font-size: 3em;
    margin: 0px;
    color: #5e5e5e;
    z-index: 10;
}
.sec_1 h2:hover{
    z-index: 30;
}
.sec_1 h3{
    width: 100%;
    position: relative;
    font-size: 7em;
    font-weight: 600;
    margin-bottom: -35px;
    margin-top: -35px;
    color: #f8f1f1;
    z-index: 0;
}
.sec_1 img{
    position: relative;
    margin-top: -272px;
    width: 10em;
    height: auto;
    z-index: 20;
}
/* separador */
.detach{
    margin-bottom: -17%;
    z-index: 10;
    position: relative;
}
.detach_img{
    width: 100%;
    height: auto;
}
/* seccion2 */
.sec_2{
    padding-top: 100px;
    z-index: 0;
    background-color: #1e1e1e ;
    width: 100%;
    clip-path: polygon(0 0%, 100% 8%, 100% 88%, 0% 100%);
}
.sec_2 h2{
    width: 70%;
    color: #fff8f8;
    position: relative;
    font-size: 1.5em;
    margin: 0px;
    z-index: 10;
}
.sec_2 h3{
    text-align: center;
    color: #242323;
    position: relative;
    font-size: 7em;
    font-weight: 600;
    margin-bottom: -40px;
    margin-top: -40px;
    z-index: 0;
}
.sec_2 .img{
    width: 100%;
    text-align: center;
}
.sec_2 .img img{
    width: 40%;
    height: auto;
    position: relative;
    z-index: 20;
}
.sec_2 .container {
    margin-left: 40px;
    margin-top: -260px;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    z-index: 30;
}
.sec_2 .container .container_left{
    position: relative;
    z-index: 10;
    width: 45%;
    margin-right: -40px;
    margin-left: 40px;
}
.sec_2 .container .container_right{
    width: 45%;
    position: relative;
    z-index: 20;
    margin-left: -40px;
}
.sec_2 .container p{
    font-weight: 500;
    font-size: 8px;
    width: 100px;
    border: solid 2px black;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
}
.container .container_left .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 50;
}
.container .container_left .block_2{
    rotate: 15grad;
    position: relative;
    z-index: 40;
    margin-top: -5px;
    margin-left: 50px;
}
.container .container_left .block_3{
    position: relative;
    z-index: 30;
    margin-top: -20px;
    margin-left: -120px;
}
.container .container_left .block_4{
    position: relative;
    z-index: 20;
    margin-top: -20px;
}
.container .container_left .white{
    rotate: -15grad;
    color: white;
    z-index: 10;
    margin-top: -100px;
    margin-left: 150px;
    padding: 25px;
}
.container .container_right .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 30;
    margin-left: -85px;
}
.container .container_right .block_2{
    rotate: 10grad;
    position: relative;
    z-index: 40;
    margin-top: 10px;
    margin-left: -85px;
}
.container .container_right .block_3{
    rotate: -5grad;
    position: relative;
    z-index: 50;
    margin-top: -100px;
    margin-left: 75px;
}
.container .container_right .block_4{
    rotate: 2grad;
    position: relative;
    z-index: 20;
    margin-left: -10px;
    margin-bottom: 150px;
}
.container .container_right .white{
    rotate: 15grad;
    color: white;
    position: relative;
    z-index: 10;
}
/* seccion3 */
.sec_3{
    width: 100%;
    background-color: #ffdcdc;
    padding-top: 300px;
    margin-top: -215px;
    text-align: center;
}
.sec_3 h2{
    text-align: center;
    width: 100%;
    color: #3f3f3f;
    position: relative;
    font-size: 1.9em;
    margin: 0px;
    z-index: 10;
}
.sec_3 .paragraph{
    width: 100%;
}
.sec_3 p{
    font-size: 15px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.sec_3 h3{
    width: 100%;
    text-align: center;
    color: #ffe4e4;
    position: relative;
    font-size: 7em;
    font-weight: 600;
    margin-bottom: -50px;
    margin-top: -100px;
    z-index: 0;
}
.sec_3 img{
    width: 100%;
    margin-top: -100px;
    position: relative;
    z-index: 0;
}
/* seccion4 */
.sec_4{
    width: 100%;
    background-color: #ffffff;
    margin-top: -50px;
    padding-top: 80px;
}
.sec_4 .container_1{
    width: 100%;
    text-align: center;
}
.sec_4 .container_1 .t2{
    margin-top: 30px;
}
.sec_4 .container_1 h2{
    position: relative;
    font-size: 1.5em;
    margin: 10px;
    color: #5e5e5e;
}
.sec_4 .container_2{
    text-align: center;
    width: 100%;
    display: flex;
}
.sec_4 .container_2 h2{
    font-weight: 900;
    position: relative;
    font-size: 2.8em;
    padding-top: 40px;
    color: #ffdcdc;
}
.sec_4 .left{
    width: 45%;
    text-align: end;
    margin-left: 30px;
}
.sec_4 .right{
    width: 45%;
}
.sec_4 .right img{
    padding-top: 40px;
    width: 70%;
}
/* redes */
.redes{
    width: 100%;
    }
    .redes .iconos{
    text-align: center;
    width: 100%;
    }
    .redes .iconos #red{
    color: black;
    padding: 10px;
    width: 8%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    transition: 2s;
    }
}
/* computadora */
@media only screen and (min-width: 991px) and (max-width:2049px){
    .tablet{
        display: none;
    }
    .movil{
        display: none;
    }
    .tv{
        display: none;
    }
/* menu desplegable */
.menu{
    text-align: center;
    padding: 20px;
    right: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 100;
    transition: 2s;
}
.menu:hover{
    border-radius: 40px;
    background-color: #1e1e1e;
    color: #fff8f8;
    transition: 2s;
}
.menu #menu_icon{
    font-size: 40px;
}
/* pagina web */
.content{
    width: 100%;
    height: auto;
    background-color: #fff8f8;
}
/* seccion1 */
.sec_1{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}
.sec_1 h2{
    position: relative;
    font-size: 7em;
    margin: 0px;
    color: #5e5e5e;
    z-index: 10;
}
.sec_1 h2:hover{
    z-index: 30;
}
.sec_1 h3{
    position: relative;
    font-size: 20em;
    font-weight: 600;
    margin-bottom: -100px;
    margin-top: -100px;
    color: #f8f1f1;
    z-index: 0;
}
.sec_1 img{
    position: relative;
    margin-top: -710px;
    width: 25em;
    height: auto;
    z-index: 20;
}
/* separador */
.detach{
    margin-bottom: -18%;
    z-index: 10;
    position: relative;
}
.detach_img{
    width: 100%;
    height: auto;
}
/* seccion2 */
.sec_2{
    padding-top: 300px;
    z-index: 0;
    background-color: #1e1e1e ;
    width: 100%;
    clip-path: polygon(0 0%, 100% 13.4%, 100% 88%, 0% 100%);
}
.sec_2 h2{
    width: 70%;
    color: #fff8f8;
    position: relative;
    font-size: 4em;
    margin: 0px;
    z-index: 10;
}
.sec_2 h3{
    text-align: center;
    color: #242323;
    position: relative;
    font-size: 20em;
    font-weight: 600;
    margin-bottom: -100px;
    margin-top: -100px;
    z-index: 0;
}
.sec_2 .img{
    width: 100%;
    text-align: center;
}
.sec_2 .img img{
    width: 40%;
    height: auto;
    position: relative;
    z-index: 20;
}
.sec_2 .container {
    margin-top: -560px;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    z-index: 30;
}
.sec_2 .container .container_left{
    position: relative;
    z-index: 10;
    width: 49%;
}
.sec_2 .container .container_right{
    width: 49%;
    position: relative;
    z-index: 20;
}
.sec_2 .container p{
    font-weight: 500;
    font-size: 18px;
    width: 250px;
    border: solid 2px black;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    color: black;
}
.container .container_left .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 50;
}
.container .container_left .block_2{
    rotate: 15grad;
    position: relative;
    z-index: 40;
    margin-top: -20px;
    margin-left: 230px;
}
.container .container_left .block_3{
    position: relative;
    z-index: 30;
    margin-top: -100px;
    margin-left: -230px;
}
.container .container_left .block_4{
    position: relative;
    z-index: 20;
    margin-top: -30px;
}
.container .container_left .white{
    rotate: -15grad;
    color: white;
    z-index: 10;
    margin-top: -250px;
    margin-left: 400px;
    padding: 65px;
}
.container .container_right .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 30;
    margin-left: -230px;
}
.container .container_right .block_2{
    rotate: 10grad;
    position: relative;
    z-index: 40;
    margin-top: -30px;
    margin-left: -230px;
}
.container .container_right .block_3{
    rotate: -5grad;
    position: relative;
    z-index: 50;
    margin-top: -200px;
    margin-left: 200px;
}
.container .container_right .block_4{
    rotate: 2grad;
    position: relative;
    z-index: 20;
    margin-left: -400px;
    margin-bottom: 300px;
}
.container .container_right .white{
    rotate: 15grad;
    color: white;
    position: relative;
    z-index: 10;
}
/* seccion3 */
.sec_3{
    width: 100%;
    background-color: #ffdcdc;
    padding-top: 250px;
    margin-top: -215px;
    text-align: center;
}
.sec_3 h2{
    width: 100%;
    color: #3f3f3f;
    position: relative;
    font-size: 4em;
    margin: 0px;
    z-index: 10;
}
.sec_3 .right{
    text-align: end;
}
.sec_3 .paragraph{
    width: 80%;
    margin: 50px;
}
.sec_3 p{
    font-size: 25px;
    margin: 5px;
    text-align: left;
    position: relative;
    z-index: 10;
}
.sec_3 h3{
    width: 100%;
    text-align: center;
    color: #ffe4e4;
    position: relative;
    font-size: 20em;
    font-weight: 600;
    margin-bottom: -100px;
    margin-top: -100px;
    z-index: 0;
}
.sec_3 img{
    width: 100%;
    margin-top: -150px;
    position: relative;
    z-index: 0;
}
/* seccion4 */
.sec_4{
    width: 100%;
    background-color: #ffffff;
    margin-top: -50px;
    padding-top: 80px;
}
.sec_4 .container_1{
    width: 50%;
    margin-left: 60px;
}
.sec_4 .container_1 .t2{
    margin-top: 30px;
}
.sec_4 .container_1 h2{
    position: relative;
    font-size: 3em;
    margin: 10px;
    color: #5e5e5e;
}
.sec_4 .container_2{
    text-align: center;
    width: 100%;
    display: flex;
}
.sec_4 .container_2 h2{
    font-weight: 900;
    position: relative;
    font-size: 7em;
    padding-top: 40px;
    color: #ffdcdc;
}
.sec_4 .left{
    width: 47%;
}
.sec_4 .right{
    width: 47%;
}
.sec_4 .right img{
    width: 100%;
}
/* redes */
.redes{
    width: 100%;
    }
    .redes .iconos{
    text-align: center;
    width: 100%;
    }
    .redes .iconos #red{
    color: black;
    padding: 30px;
    width: 13%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
    transition: 2s;
    }
}
/* tv */
@media only screen and (min-width: 2050px) {
    .tablet{
        display: none;
    }
    .movil{
        display: none;
    }
    .desktop{
        display: none;
    }
/* menu desplegable */
.menu{
    text-align: center;
    padding: 20px;
    right: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 100;
    transition: 2s;
}
.menu:hover{
    border-radius: 40px;
    background-color: #1e1e1e;
    color: #fff8f8;
    transition: 2s;
}
.menu #menu_icon{
    font-size: 40px;
}
/* pagina web */
.content{
    width: 100%;
    height: auto;
    background-color: #fff8f8;
}
/* seccion1 */
.sec_1{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}
.sec_1 h2{
    position: relative;
    font-size: 7em;
    margin: 0px;
    color: #5e5e5e;
    z-index: 10;
}
.sec_1 h2:hover{
    z-index: 30;
}
.sec_1 h3{
    position: relative;
    font-size: 20em;
    font-weight: 600;
    margin-bottom: -100px;
    margin-top: -100px;
    color: #f8f1f1;
    z-index: 0;
}
.sec_1 img{
    position: relative;
    margin-top: -710px;
    width: 25em;
    height: auto;
    z-index: 20;
}
/* separador */
.detach{
    margin-bottom: -18%;
    z-index: 10;
    position: relative;
}
.detach_img{
    width: 100%;
    height: auto;
}
/* seccion2 */
.sec_2{
    padding-top: 300px;
    z-index: 0;
    background-color: #1e1e1e ;
    width: 100%;
    clip-path: polygon(0 0%, 100% 13.4%, 100% 88%, 0% 100%);
}
.sec_2 h2{
    width: 70%;
    color: #fff8f8;
    position: relative;
    font-size: 4em;
    margin: 0px;
    z-index: 10;
}
.sec_2 h3{
    text-align: center;
    color: #242323;
    position: relative;
    font-size: 20em;
    font-weight: 600;
    margin-bottom: -100px;
    margin-top: -100px;
    z-index: 0;
}
.sec_2 .img{
    width: 100%;
    text-align: center;
}
.sec_2 .img img{
    width: 40%;
    height: auto;
    position: relative;
    z-index: 20;
}
.sec_2 .container {
    margin-top: -560px;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    z-index: 30;
}
.sec_2 .container .container_left{
    position: relative;
    z-index: 10;
    width: 49%;
}
.sec_2 .container .container_right{
    width: 49%;
    position: relative;
    z-index: 20;
}
.sec_2 .container p{
    font-weight: 500;
    font-size: 18px;
    width: 250px;
    border: solid 2px black;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    color: black;
}
.container .container_left .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 50;
}
.container .container_left .block_2{
    rotate: 15grad;
    position: relative;
    z-index: 40;
    margin-top: -20px;
    margin-left: 230px;
}
.container .container_left .block_3{
    position: relative;
    z-index: 30;
    margin-top: -100px;
    margin-left: -230px;
}
.container .container_left .block_4{
    position: relative;
    z-index: 20;
    margin-top: -30px;
}
.container .container_left .white{
    rotate: -15grad;
    color: white;
    z-index: 10;
    margin-top: -250px;
    margin-left: 400px;
    padding: 65px;
}
.container .container_right .block_1{
    rotate: -15grad;
    position: relative;
    z-index: 30;
    margin-left: -230px;
}
.container .container_right .block_2{
    rotate: 10grad;
    position: relative;
    z-index: 40;
    margin-top: -30px;
    margin-left: -230px;
}
.container .container_right .block_3{
    rotate: -5grad;
    position: relative;
    z-index: 50;
    margin-top: -200px;
    margin-left: 200px;
}
.container .container_right .block_4{
    rotate: 2grad;
    position: relative;
    z-index: 20;
    margin-left: -400px;
    margin-bottom: 300px;
}
.container .container_right .white{
    rotate: 15grad;
    color: white;
    position: relative;
    z-index: 10;
}
/* seccion3 */
.sec_3{
    width: 100%;
    background-color: #ffdcdc;
    padding-top: 250px;
    margin-top: -215px;
    text-align: center;
}
.sec_3 h2{
    width: 100%;
    color: #3f3f3f;
    position: relative;
    font-size: 4em;
    margin: 0px;
    z-index: 10;
}
.sec_3 .right{
    text-align: end;
}
.sec_3 .paragraph{
    width: 80%;
    margin: 50px;
}
.sec_3 p{
    font-size: 25px;
    margin: 5px;
    text-align: left;
    position: relative;
    z-index: 10;
}
.sec_3 h3{
    width: 100%;
    text-align: center;
    color: #ffe4e4;
    position: relative;
    font-size: 20em;
    font-weight: 600;
    margin-bottom: -100px;
    margin-top: -100px;
    z-index: 0;
}
.sec_3 img{
    width: 100%;
    margin-top: -150px;
    position: relative;
    z-index: 0;
}
/* seccion4 */
.sec_4{
    width: 100%;
    background-color: #ffffff;
    margin-top: -50px;
    padding-top: 80px;
}
.sec_4 .container_1{
    width: 50%;
    margin-left: 60px;
}
.sec_4 .container_1 .t2{
    margin-top: 30px;
}
.sec_4 .container_1 h2{
    position: relative;
    font-size: 3em;
    margin: 10px;
    color: #5e5e5e;
}
.sec_4 .container_2{
    text-align: center;
    width: 100%;
    display: flex;
}
.sec_4 .container_2 h2{
    font-weight: 900;
    position: relative;
    font-size: 7em;
    padding-top: 40px;
    color: #ffdcdc;
}
.sec_4 .left{
    width: 47%;
}
.sec_4 .right{
    width: 47%;
}
.sec_4 .right img{
    width: 100%;
}
/* redes */
.redes{
    width: 100%;
    }
    .redes .iconos{
    text-align: center;
    width: 100%;
    }
    .redes .iconos #red{
    color: black;
    padding: 30px;
    width: 13%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
    transition: 2s;
    }
}
